@model DC.Models.ViewModels.ShoppingCartVM

<section class="vh-100" style="background-color: #fdccbc;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <p><span class="h2">Shopping Cart </span><span class="h4">(1 item in your cart)</span></p>

                <div class="card mb-4">
                    <div class="card-body p-4">
                        @foreach(var item in Model.ListCart){


                        <div class="row align-items-center">
                            <div class="col-md-2">
                                <img src="@item.Product.ImageURL"
                                     class="img-fluid" alt="Generic placeholder image">
                            </div>
                            <div class="col-md-2 d-flex justify-content-center">
                                <div>
                                        <p class="small text-muted mb-4 pb-2">@item.Product.Name</p>
                                </div>
                            </div>

                            <div class="col-md-2 d-flex justify-content-center">
                                <div>
                                        <p class="small text-muted mb-4 pb-2">@item.Product.Price</p>
                                </div>
                            </div>
                           
                        </div>
                        }

                    </div>
                </div>


                <div class="card-footer">
                    <div class="card-footer row">
                        <div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 ">
                            <a asp-action="Summary" class="btn btn-success form-control">Summary</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>