
<div class="container p-3">
<h1>Product List</h1>

<p>
    <a asp-controller ="Product" asp-action="Upsert">Create New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Colour</th>
          <th>Material</th>
          <th>Category</th>
          <th>Discounted Price</th>
          <th>Type</th>
          <th>Description</th>
            <th></th>
        </tr>
    </thead>

</table>
</div>

