@model DC.Models.ViewModels.ProductVM


<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />
    <input asp-for="Product.ImageURL" hidden />

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                
             </div>
  
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Size" class="control-label"></label>
                <input asp-for="Product.Size" class="form-control" />
                <span asp-validation-for="Product.Size" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Product.Colour" class="control-label"></label>
                <input asp-for="Product.Colour" class="form-control" />
                <span asp-validation-for="Product.Colour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Material" class="control-label"></label>
                <input asp-for="Product.Material" class="form-control" />
                <span asp-validation-for="Product.Material" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
              </div>
         
              <div class="form-group">
                    <label asp-for="Product.DiscountedPrice" class="control-label"></label>
                    <input asp-for="Product.DiscountedPrice" class="form-control" />
                    <span asp-validation-for="Product.DiscountedPrice" class="text-danger"></span>
            </div>
                    <div class="form-group">
                        <label asp-for="Product.Description" class="control-label"></label>
                        <textarea asp-for="Product.Description" rows="3" class="form-control">
                        </textarea>
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Product.ImageURL"></label>
                        <input type="file" id="uploadBox" name="file" class="form-control" />
               </div>
              <div class="mb-3 col-6">

			<label asp-for="Product.CategoryId"></label>
			<select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
				<option disabled selected>--Select Category--</option>
			</select>
			<span asp-validation-for="Product.CategoryId" class="text-danger"></span>
		    </div>

		    <div class="mb-3 col-6">
			<label asp-for="Product.CoverTypeId"></label>
			<select asp-for="Product.CoverTypeId" asp-items="@Model.CoverTypeList" class="form-select">
				<option disabled selected>--Select CoverType--</option>
			</select>
			<span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
		    </div>

            <div class="col-12">
                @if (Model.Product.Id != 0)
                {
                    <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                }
                else
                {
                    <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
                }
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
                    Back to List
                </a>
            </div>
        
    </div>
    
            <div class="col-2 pt-4">
                <img src="@Model.Product.ImageURL"
                     width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
            </div>
      
           
</form>
    


